@import "variable";
@import "mixins";
@import "normalize";
@import "font";
@import "section/intro";
@import "layout/logo";
@import "layout/arrow";
@import "layout/header";
@import "layout/navigation";
@import "layout/button";
@import "section/advantages";
@import "section/reviews";
@import "layout/controls";
@import "section/team";
@import "section/menu";
@import "section/form";
@import "section/map";
@import "layout/footer";
@import "layout/social";
@import "layout/info";
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  line-height: 1.42;
  font-size: 16px;
}
.wrapper{
  overflow: hidden;
}
.container{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 rem(20);
}
.section{
  min-height: 650px;
  height: 100vh;

}
@media(max-width: 1100px){
 .container{


 }
 }
