@import "normalize";
@import "font";
@import "layout/intro";
@import "layout/logo";
@import "layout/arrow";
@import "layout/header";
@import "layout/navigation";
@import "layout/button";
@import "layout/advantages";
@import "layout/reviews";
@import "layout/controls";
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  line-height: 1.42;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
}