.btn{
   display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font:500 13px Ubuntu-Medium ;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.btn_red{
  background:#e45028;
  width: 97px;
  height: 37px;
  &:hover{
    background: #c1401e;
  }
}
.btn_gray{
   background: #2f3234;
}