.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info__adress{
  display: block;
  font: 300 14px Ubuntu-Light;
  color: white;
}
.info__phone-image{
  width: 12px;
  height: 11px;
  fill: #e45028;
}
.info__phone-number{
  font: bold 14px Ubuntu-Bold;
  color:#e45028 ;
}