@import "../mixins";
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info__adress{
  display: block;
  font: 300 rem(14) Ubuntu-Light;
  color: white;
  @include mobile{
    text-align: center;
    margin-bottom: rem(5);
  }
}
.info__phone-image{
  width: 12px;
  height: 11px;
  fill: #e45028;
}
.info__phone-number{
  font: bold rem(14) Ubuntu-Bold;
  color:#e45028 ;
}

  .info__phone{
    @include mobile{
      text-align: center;
    }
  }

