.fixed-menu {
  opacity: 0;
  visibility: hidden;
  display: flex;
  left: -9999px;
  margin: 0;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 50, 52, 0.99);
  z-index: 1000;
  padding-top: rem(130);
  list-style-type: none;
  transition: all 1.5s; }
  .fixed-menu_active {
    opacity: 1;
    visibility: visible;
    left: 0; }

.fixed-menu__item {
  font: normal rem(24)/rem(40) Ubuntu-Regular;
  margin-bottom: rem(50);
  margin-right: 0;
  color: white;
  text-transform: uppercase;
  position: relative; }
  .fixed-menu__item:after {
    position: absolute;
    content: '';
    background: white;
    display: block;
    width: rem(6);
    height: rem(6);
    bottom: rem(-25);
    right: 50%;
    top: initial;
    border-radius: 50%;
    transform: translateX(50%); }
  .fixed-menu__item:last-child:after {
    display: none; }

.fixed-menu__link {
  color: inherit;
  text-decoration: none; }

.close-menu {
  display: flex;
  padding-top: rem(7);
  position: fixed;
  z-index: 1001;
  top: rem(36);
  right: 0;
  margin-right: rem(20);
  margin-left: 0; }

.close-menu_bars {
  box-shadow: none;
  position: relative;
  transform: rotate(45deg);
  background: #bfc0c1; }
  .close-menu_bars:after {
    content: '';
    width: rem(24);
    height: rem(4);
    position: absolute;
    background: #bfc0c1;
    border-radius: rem(10);
    transform: rotate(-90deg); }
