.menu {
  background: url("../img/jpg/menu.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-top: 3.75rem; }

.menu__header {
  font: bold 4.5rem Gagalin-Regular;
  margin: 0;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.375rem; }

.menu-accordion {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  @media (max-width: 480px) {
    .menu-accordion {
      width: 100%;
      justify-content: flex-end; } }

.menu-accordion__item {
  height: 100%;
  padding: 0;
  display: flex;
  cursor: pointer; }
  .menu-accordion__item_active .menu-accordion__decription {
    max-width: 500px;
    padding: 3.75rem 1.875rem; }
    @media (max-width: 768px) {
      .menu-accordion__item_active .menu-accordion__decription {
        width: 90%;
        max-width: 90%; } }
    @media (max-width: 480px) {
      .menu-accordion__item_active .menu-accordion__decription {
        padding: 10px; } }

.menu-accordion__link {
  display: block;
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  width: 80px; }
  @media (max-width: 480px) {
    .menu-accordion__link {
      width: 60px; } }

.menu-accordion__title {
  display: inline-block;
  font: bold 2.5rem Gagalin-Regular;
  color: white;
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 0;
  transform: rotate(-90deg) translateY(-192%); }
  .menu-accordion__title_veg {
    line-height: 3.5rem; }
  .menu-accordion__title_diet {
    line-height: 2.6875rem; }

.menu-accordion__decription {
  font: 300 0.875rem/1.5rem Ubuntu-Light;
  color: white;
  max-width: 0;
  overflow: hidden;
  background: rgba(47, 50, 52, 0.93);
  padding: 0;
  transition: max-width 1s linear; }
