.section-team {
  background: url("../img/jpg/team.jpg");
  background-size: cover;
  position: relative; }
  @media (max-width: 768px) {
    .section-team {
      background-position: center center; } }

.team__overlay {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background: rgba(47, 50, 52, 0.92);
  display: flex;
  justify-content: center;
  padding-top: 4.375rem; }
  @media (max-width: 768px) {
    .team__overlay {
      width: 100%; } }

.team {
  width: 75%; }
  @media (max-width: 768px) {
    .team {
      width: 50%;
      text-align: center; } }
  @media (max-width: 480px) {
    .team {
      width: 75%; } }

.team__header {
  color: #f9b43b;
  font: bold 4.5rem Gagalin-Regular;
  margin: 0; }
  @media (max-width: 768px) {
    .team__header {
      font-size: 3.75rem; } }
  @media (max-width: 480px) {
    .team__header {
      font-size: 3.125rem; } }

.team-accordion {
  margin: 0;
  margin-top: 4.375rem;
  padding: 0;
  list-style-type: none; }

.team-accordion__item {
  margin-bottom: 1.25rem; }
  @media (max-width: 768px) {
    .team-accordion__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0; } }
  .team-accordion__item_active .team-accordion__title {
    color: #f9b43b; }
    .team-accordion__item_active .team-accordion__title:before {
      transform: rotate(180deg); }
  .team-accordion__item_active .team-accordion__decription {
    height: auto; }

.team-accordion__title {
  font: 0.75rem Gagalin-Regular;
  color: white;
  display: flex;
  align-items: center;
  position: relative; }
  .team-accordion__title:before {
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0;
    margin-right: 0.3125rem; }
  @media (max-width: 768px) {
    .team-accordion__title {
      font-size: 1.5625rem; } }

.team-accordion__decription {
  display: flex;
  flex-flow: row nowrap;
  height: 0;
  overflow: hidden;
  margin-top: 0.875rem;
  margin-left: 0.5rem;
  margin-bottom: 1.5625rem; }
  @media (max-width: 768px) {
    .team-accordion__decription {
      flex-direction: column;
      align-items: center; } }

.team__image {
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.25rem; }
  @media (max-width: 768px) {
    .team__image {
      margin-bottom: 0.9375rem; } }

.team__picture {
  width: 130px;
  height: 100px; }

.team__decription {
  font-size: 0.875rem;
  color: white; }

.team__position {
  font-family: Ubuntu-Bold; }

.team__text {
  font-family: Ubuntu-Light;
  line-height: 1.5rem; }
