.section-team {
  background: url("../img/jpg/team.jpg");
  background-size: cover;
  position: relative; }

.team__overlay {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background: rgba(47, 50, 52, 0.92);
  display: flex;
  justify-content: center;
  padding-top: rem(70); }

.team {
  width: 75%; }

.team__header {
  color: #f9b43b;
  font: bold rem(72) Gagalin-Regular;
  margin: 0; }

.team-accordion {
  margin: 0;
  margin-top: rem(70);
  padding: 0;
  list-style-type: none; }

.team-accordion__item {
  margin-bottom: rem(20); }

.team-accordion__title {
  font: rem(12) Gagalin-Regular;
  color: white;
  display: flex;
  align-items: center;
  position: relative; }
  .team-accordion__title:before {
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0;
    margin-right: rem(5); }
  .team-accordion__title-active {
    color: #f9b43b; }
    .team-accordion__title-active:before {
      transform: rotate(180deg); }
    .team-accordion__title-active + .team-accordion__decription {
      height: auto; }

.team-accordion__decription {
  display: flex;
  flex-flow: row nowrap;
  height: 0;
  overflow: hidden;
  margin-top: rem(14);
  margin-left: rem(8);
  margin-bottom: rem(25); }

.team__image {
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: rem(20); }

.team__picture {
  width: 130px;
  height: 100px; }

.team__decription {
  font-size: rem(14);
  color: white; }

.team__position {
  font-family: Ubuntu-Bold; }

.team__text {
  font-family: Ubuntu-Light;
  line-height: rem(24); }

@media (max-width: 768px) {
  .team__overlay {
    width: 100%; }
  .team {
    width: 50%;
    text-align: center; }
  .team-accordion__decription {
    flex-direction: column;
    align-items: center; }
  .team-accordion__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; }
  .team__image {
    margin-bottom: rem(15); }
  .team-accordion__title {
    font-size: rem(25); } }

@media (max-width: 480px) {
  .team__header {
    font-size: rem(50); }
  .team {
    width: 75%; } }
