@import "../mixins";
.intro{
  min-height: 650px;
  height: 100vh;
  background:url("../img/png/texture.png"),
  url("../img/jpg/header.jpg") no-repeat;
  background-size: auto, cover;
  display: flex;
  flex-direction: column;

}
.intro__container{
  display: flex;
  flex: 1;
  flex-direction: column;
  &_centered{
    align-items: center;
    justify-content: center;
  }
}
.intro__preview{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
   @include tablet{
    padding-top: 0;
    flex-direction: column;
  }
}
.intro__preview-image{
  background: url("../img/svg/drops.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  width: 451px;
  height: 424px;
  padding-bottom: rem(138);
  padding-left: rem(20);
   @include mobile{
    width: 333px;
    height: 339px;
    background-position: 0 12px;
    background-size: contain;
    padding-left: rem(14);
    padding-bottom: rem(103);
  }
}
.intro__preview-picture{
  align-self: center;
  width: 100%;
}
.intro__preview-text{
  display: flex;
  flex-direction: column;
  width: rem(450);
  margin-left: rem(10);
  @include tablet{
    text-align: center;
    margin-top: rem(-57);
  }
  }
.intro__preview-text_orange{
  font:rem(72) Gagalin-Regular;
  text-transform: uppercase;
  color:#f9b43b;
  margin-bottom: rem(15);
  @include mobile{
    font-size: rem(60);
   }
}
.intro__preview-text_normal{
  font: rem(65)/rem(60) Lifehack-Medium;
  color: white;
  @include mobile{
    font-size: rem(54);
  }
  }
.hamburger-menu{
  height: rem(24);
  display: none;
  align-items: center;
  @include tablet{
    display:flex;
    margin-left:rem(20) ;
  }
}

.hamburger-menu-bars{
  width: rem(24);
  height: rem(4);
  background: white;
  border-radius:rem(10) ;
  box-shadow: 0 9px  white, 0 -9px white ;
}

