.menu{
  background: url("../img/jpg/menu.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-top: 60px;


}
.menu__header{
  font: bold 72px Gagalin-Regular;
  margin: 0;
  text-transform: uppercase;
  color: white;
  letter-spacing: 6px;

}
.menu-accordion{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu-accordion__item{
  height: 100%;
  padding: 0;
  display: flex;
}
.menu-accordion__link{
  display: block;
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  width: 80px;
  &-active +.menu-accordion__decription{
    width: 500px;
    padding: 60px 30px;
  }
 }
.menu-accordion__title{
  display: inline-block;
  font: bold 40px Gagalin-Regular;
  color: white;
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 0;
  transform: rotate(-90deg) translateY(-50%);
}
.menu-accordion__decription{
  font: 300 14px/24px Ubuntu-Light;
  color:white;
  width: 0;
  overflow: hidden;
  background: rgba(47,50,52,.93);
  padding: 0;
}

