@import "../mixins";
.slider{
    background-image: -moz-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -ms-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    display: flex;
    align-items: center;
}
.slider__controls{
    flex-basis: 10%;
    min-width: 20px;
    position: relative;
    @include tablet{
        flex-basis: 15%;
    }
}
.slider__arrow{
    position: absolute;
    top: 50%;
    &_left {
        left: 0;
        transform: translateY(-50%)rotate(90deg);

    }
    &_right{
        right: 0;
        transform: translateY(-50%)rotate(-90deg);
    }
}
.slider__content{
    padding-top: rem(12);
    padding-bottom: rem(40);
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    position: relative;
    @include tablet{
        flex-direction: column;
        align-items: center;
    }

}
.slider__description{
    @include tablet{
    text-align: center;
    width: 90%;
    }
}
.slider__image{
    height: 329px;
    flex-basis: 155%;
    @include tablet{
        flex-basis: initial;
        height: 270px;
        width: 390px;
    }
    @include mobile{
        width: 264px;
        height: 230px;
    }
}
.slider__picture{
    width: 100%;
    height: 100%;
}
.slider__title{
    font: bold rem(71)/rem(67) Gagalin-Regular;
    color:white;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: rem(48);
    @include tablet{
        margin-bottom: rem(30);
    }
    @include mobile{
        font-size: rem(60);
    }
}
.slider__text{
    font: 300 rem(14)/rem(24) Ubuntu-Light;
    color: white;
    margin-bottom: rem(40);
}
.slider__price{
    font: bold rem(30)/rem(28) Gagalin-Regular;
    color: #e35028;
    text-transform: uppercase;
    margin-right: rem(25);
    display: inline-block;
    line-height: rem(50);
}
.slider__number{
    font-size: rem(72);
    @include mobile{
        font-size: rem(60);
    }
}
.kkal{
    font-family: Gagalin-Regular;
    color: white;
    text-transform: uppercase;
    opacity: .5;

}
.kkal{
    position: absolute;
    left:rem(20);
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet{
        left: initial;
        bottom: initial;
        top: 0;
        right: 0;
    }
}
.kkal__number{
    font-size: rem(20);
    background: url("../img/svg/kkal.svg");
    background-size: contain;
    width: rem(60);
    height: rem(60);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom:rem(7);
    padding-left: rem(3);
}
.kkal__text{
    font-size: rem(14);
}

.composition__table{
    position: absolute;
    top: 0;
    left:rem(90);
    display: none;

}
