.section-team{
  background: url("../img/jpg/team.jpg");
  background-size: cover;
  position: relative;
}
.team__overlay{
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background: rgba(47,50,52,.92);
  display: flex;
  justify-content: center;
  align-items: center;
}
.team{
  width: 75%;
}
.team__header{
  color: #f9b43b;
  font: bold 72px Gagalin-Regular;
  margin: 0;

}
.team-accordion{
  margin: 0;
  margin-top:70px ;
  padding: 0;
  list-style-type: none;
}
.team-accordion__item{
  margin-bottom: 20px;
}
.team-accordion__title {
  font: 12px Gagalin-Regular;
  color: white;
  position: relative;
  padding-left: 20px;
  &:before {
    position: absolute;
    content: "";
    border: 7px solid transparent;
    border-top: 10px solid #f9b43b;
    left: 0;
    top: 50%;
    transform: translateY(-25%);

  }

  &-active {
    color: #f9b43b;
    &:before {
      border-top: transparent;
      border-bottom: 10px solid #f9b43b;
      transform: translateY(-50%);
    }
    & + .team-accordion__decription{
      height: auto;
    }

  }
}
.team-accordion__decription{
  display: flex;
  flex-flow: row nowrap;
  height: 0;
  overflow: hidden;
}
.team__image{
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.team__picture{
  width: 130px;
  height: 100px;

}
.team__decription{
  font-size: 14px;
  color:white;
}
.team__position{
  font-family: Ubuntu-Bold;
}
.team__text{
  font-family: Ubuntu-Light;
  line-height: 24px;
}
